<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>NEJS CONF 2018</title>
		<link rel="stylesheet" href="css/index.css">
		<link rel="stylesheet" href="css/facepile.css">
		<script>
		// TypeKit
		;(function( d ) {
			var config = {
				kitId: 'ppn2vqj',
				scriptTimeout: 3000
			},
			h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
		})( document );
		</script>
	</head>
	<body>
		<h1>NEJS CONF</h1>
{% for event in years %}
		<p class="prior">
			<a href="https://{{ event.year }}.nejsconf.com/">{{ event.year }}</a>
			{% if event.recap %}<span class="recap"> / <a href="{{ event.recap }}">Recap</a></span>{% endif %}
			<span class="facepile">{% for speaker in speakers %}{% if speaker.year == event.year %}<a href="https://twitter.com/{{ speaker.twitter }}">{% avatar speaker.twitter %}</a>{% endif %}{% endfor %}</span>
		</p>
{% endfor %}
	</body>
</html>